{% extends "base.html" %}
{% block title %}Education Officer Login{% endblock %}

{% block content %}

<div class="login-wrapper">
           <div class="animal-footer">
    🦓 🐘 🦜 🦌 🐯
</div>
    <div class="login-card">
 


        <div class="login-icon">
            🦉
        </div>

        <h2>Education Officer Login</h2>
        <p class="login-subtext">
            Access the Education Department dashboard
        </p>

        <form method="POST">

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Password"
                   required>

            <button type="submit">Login</button>
            
        </form>

    </div>

</div>

{% endblock %}
