{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<section class="contact-section">

    <div class="contact-container">

        <div class="contact-header">
            <h1>Contact the Education Department</h1>
            <p>
                Wildlife education • Outreach • Internships • Conservation
            </p>
        </div>

        <div class="contact-card">

            <div class="contact-row">
                <div class="contact-icon location-icon"></div>
                <div>
                    <h4>Location</h4>
                    <p>Bengaluru, Karnataka, India</p>
                </div>
            </div>

            <div class="contact-row">
                <div class="contact-icon phone-icon"></div>
                <div>
                    <h4>Phone</h4>
                    <p>+91 90350 92797</p>
                </div>
            </div>

            <div class="contact-row">
                <div class="contact-icon email-icon"></div>
                <div>
                    <h4>Email</h4>
                    <p>education@bannerughattabiopark.org</p>
                </div>
            </div>

        </div>

    </div>

</section>



{% endblock %}